
body {
    color: #333333;
    background-color: #E6E6E1;
}
a { color: #666; }
a:hover { color: #D04526; }

.navbar {
    border-top: 3px solid #CC0000;
}

.navbar-search .search-query {
    border-radius: 6px;
}

.newsList li {
    color: #999999;
}
.newsList h1 {
    color: #333333;
    font-size: 1.2em;
    line-height: 1.25em;
    padding-top: 0.5em;
    padding-bottom: 0;
    margin-bottom: 0
}
.newsList h1 a {
    color: #333;
}
.newsList h1 a:hover  {
    color: #000;
}
.promote {
    min-width: 6em;
    display: inline-block;
}
.rankNumber {
    min-width: 2em;
    display: inline-block;
}

.comments {
    min-width: 2.5em;
    display: inline-block;
}


/* Large desktop */
@media (min-width: 1200px) { ... }

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { ... }

/* Landscape phone to portrait tablet */
@media (max-width: 767px) { ... }

/* Landscape phones and down */
@media (max-width: 480px) { ... }
