{% extends "base.html" %}
{% block main %}
{% raw %}
<div class="container">
    <div class="row">
      <div class="span6">
        <h1>Sobre</h1>
        <p>Esse site é um experimento sobre a dinâmica de compartilhamento de conteúdo numa rede de pessoas.
           Também é um experimento tecnológico: essa app tem menos de 100 linhas de código Python e 27 linhas de Javascript customizado</p>
           <h2>Software e as idéias</h2>
           <p>Quando mais rápido uma idéia puder ser testada menor é o risco de se perder tempo com desenvolvimento. As arquiteturas de sofware "do mercado" muitas vezes são
              inchadas e adicionam complexidade que em muitos casos não se fáz necessária. Um dos objetivos é amadurecer tecnologias que diminuam a complexidade, por exemplo,
              de um software web.</p>
          <h2>Modelo de interação</h2>
          <p>Pra nós existe uma demanda reprimida de modelos de interação focados em aspectos locais. Essa ferramente poderá ser instanciada para diversos domínios e desenvolver
             aspectos próprios sob demanda. Temos interesse em promover a aplicação dessa ferramenta e compartilhar os resultados.</p>
      </div>
    </div>
</div>
{% endraw %}
{% endblock %}
