<!doctype html>
<html lang="en" ng-app="looginews">
<head>
  <meta charset="utf-8">

  <!-- Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Loogica - News</title>
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="humans.txt">
  <link href="{{ url_for('recent_feed', channel=channel) }}" rel="alternate" title="Loogica News Atom" type="application/atom+xml">
  <link rel="shortcut icon" href="http://loogica.net/videos/theme/img/favicon.ico" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <script>
  {% if channel %}
  var channel = "{{ channel }}";
  {% else %}
  var channel = "main";
  {% endif %}
  {% if item %}
  var item_id = {{ item }};
  {% else %}
  var item_id = null;
  {% endif %}
  </script>
</head>

<body ng-controller="NewsController">
  <nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Loogica News</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        {% raw %}
        <li><a href="/new/{{ channel }}">Novo</a></li>
        {% endraw %}
        {% if auth %}
        <li><a href="/logout"><b>Logout</b></a></li>
        {% else %}
        <li><a href="/user/new"><b>Criar Conta</b></a></li>
        <li><a href="/user/login"><b>Login</b></a></li>
        {% endif %}
        <li><a href="/sobre"><b>Sobre</b></a></li>
        <li><a href="{{ url_for('recent_feed', channel=channel)}}">RSS</a></li>
      </ul>
    </div>
  </div>
</nav>

  {% block main %}{% endblock %}

  <script src="http://code.jquery.com/jquery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/moment.min.js"></script>
  <script src="/static/js/moment-pt-br.js"></script>
  <script src="/static/js/underscore-min.js"></script>
  <script src="/static/js/main.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-42579100-1', 'loogica.net');
    ga('send', 'pageview');
  </script>

  </body>
</html>
