{% extends "base.html" %}
{% block main %}
{% raw %}
<div class="container" ng-controller="NewsController">
  <ol class="newsList">
    <li ng-repeat="item in news">
      <h1><a href="{{ item.link }}">{{ item.title }}</a></h1>
      <p><i class="rankNumber">+{{ item.votes }}</i> <a class="promote" href="#" ng-click="vote(item.id)"><i class="icon-chevron-up"> Promover</i></a>  
      <i class="icon-time"></i>{{ moment(item.posted).startOf('hour').fromNow() }}</p>
    </li>
  </ol>
</div>
{% endraw %}
{% endblock %}

